.App{
  margin-top:20px
}
.RowWrapper{
  margin:0 auto;
  width: 500px;
}

.RowWrapper .RowBlock{
  display: inline-block;
  width:20%;
  height: 75px;
  margin-bottom: 14px;
}

.RowWrapper .RowBlock input{
  width: 75%;
  height: 100%;
  text-align: center;
  font-size: 30px;
}

.RowWrapper .RowBlock input.green{
  background: green;
}

.RowWrapper .RowBlock input.yellow{
  background: yellow;
}

input{
  caret-color: transparent;
}
